@import "tailwindcss";

@theme {
  --shadow-card: 0px 4px 25px rgba(0, 0, 0, 0.5), 0px 0px 0px 1px rgba(255, 255, 255, 0.05);
  --font-logo: "Outfit", "Inter", sans-serif;
  --color-bg-side: #0e0c24;
  --color-border: #1f1b4c;
  --color-bg-hero: #050410;
  --color-icon: #a78bfa;
  --color-logo: #ffffff;
  --color-text-sec: #94a3b8;
  --color-text-pri: #ffffff;
  --color-date: #64748b;
  --color-btn-pri: #7c3aed;
  --color-btn-sec: #151233;
  --color-text-ter: #c084fc;
  --color-text-quad: #ffffff;
}
